MODE=DEV

DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=
DB_NAME=

TEST_DB_PASS=12345
TEST_DB_USER=postgres
TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_NAME=

REDIS_HOST=localhost
REDIS_PORT=6379

TGBOT_TOKEN=
TGBOT_ADMINS=443587978

DOMAIN=